
body {
  font-family: 'Inter', sans-serif;
  background-color: #0d1b1e;
  color: white;
  margin: 0;
  padding: 0;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #11292b;
  padding: 15px 30px;
  border-radius: 8px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 14px;
}

.my-tickets-btn {
  background-color: white;
  color: black;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.2);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  
}

.details-box {
  background-color: #11292b;
  padding: 30px;
  border-radius: 12px;
  width: 600px;
  text-align: center;
  margin: 2.5em 0;
  
}

.details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.step-text {
  font-size: 12px;
  color: #bbb;
}

.progress-bar-container {
  width: 100%;
  background: #1c383b;
  height: 3px;
  border-radius: 3px;
  margin-bottom: 15px;
  overflow: hidden;
}

.progress-bar.step-2 {
  width: 67%;
  height: 100%;
  background: #56a2a6;
  transition: width 0.3s ease-in-out;
}

.upload-box {
  background-color: #0d1b1e;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 15px;
}

.upload-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border: 2px dashed #56a2a6;
  border-radius: 8px;
  cursor: pointer;
}

.upload-area:hover {
  background-color: rgba(86, 162, 166, 0.1);
}

.upload-content {
  font-size: 14px;
  color: #bbb;
}


.input-label {
  display: block;
  text-align: left;
  font-size: 14px;
  color: #bbb;
  margin-top: 10px;
}

.input-box {
  width: 100%;
  padding: 13px 10px;
  border-radius: 5px;
  border: none;
  background-color: #20474a;
  color: white;
  margin-top: 5px;
}

.textarea {
  height: 80px;
  resize: none;
}

/* Buttons */
.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.back-btn,
.next-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.back-btn {
  background-color: transparent;
  border: 1px solid #56a2a6;
  color: white;
}

.next-btn {
  background-color: #56a2a6;
  color: white;
  font-weight: bold;
}
.uploaded-image {
  width: 100%;
  height: auto; 
  object-fit: cover; 
  border-radius: 10px; 
  display: block; 
  margin-top: 10px;
}


@media (max-width:667px) {
  .details-box {
    background-color: #11292b;
    padding: 30px;
    border-radius: 12px;
    width: 570px;
    text-align: center;
    margin: 2.5em 0;
    
  }
  
}
@media (max-width:590px) {
.details-box{
  padding: 30px;
  border-radius: 12px;
  width: 94%;
  text-align: center;
  margin: 2.5em 0;
}
}
